.btntable{
    background-color: rgb(255, 254, 250) ;
    width: 100%;
    border-radius: 0%;
    color:rgb(240, 196, 0) ;
    //margin-left:-5px ;
}
.btntable:hover{
    background-color:rgb(247, 201, 0) ;
    width: 100%;
   // margin-left:-5px ;
    border-radius: 0%;
    color: rgb(20, 20, 20) ;
}
.bg{
    background-color: white;
}
li{
    height: 45px;
   
    
   
}
ul{
    border: none;
}