<div class="container mt-3">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr >
                <th scope="col">Insurance Details</th>
                    <th scope="col"><img src="https://cdni.iconscout.com/illustration/premium/thumb/car-3324157-2780099.png" height="50" width="150"></th>
                   
                  
                </tr>
                </thead>
                <tbody>
            <tr>
                <td><h6>Car Name</h6></td>
                <td>{{insuranceData.brandName}}</td>
                <!-- <td><b><a routerLink="/carinsure"> << Back To Brands</a></b></td> -->
            </tr>
            <tr>
                <td><h6>Model Name</h6></td>
                <td>{{insuranceData.modelName}}</td>
                <!-- <td><a routerLink="/carinsure">< Back To Models</a></td> -->
            </tr>
            <tr>
                <td><h6>Varient Name</h6></td>
                <td>{{insuranceData.varientName}}</td>
                <!-- <td><a routerLink="/carinsure">< Back To Varients</a></td> -->
            </tr>
</tbody>
        </table>

    </div>

</div>