.checkbox{
    padding: 9px;
    margin-right: 21px;
}

.scroll{
    height: 400px;
    overflow-y: auto;
}
body{
    background-color: white;
}
hr{
    margin: 0px !important;
    // width: 75%;
    margin: auto;
}
.bg{
    background-color: white;
}