.bg{
    background-color: white;
}
@media (max-width: 768px) {
    tbody{
        height: 50px;
    }
    .loderalign{
        margin-top: 200px;
        position:absolute;
        margin-left: 130px;
    }
    
}
@media (max-width: 480px) {
    tbody{
        height: 50px;
    }
    .loderalign{
        margin-top: 200px;
        margin-left: 130px;
        position:absolute;
    }
    
}
