<!-- <div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 5%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div> --><div  style="padding-top:50px; text-align: center;">
      <i>
        
        <h3 ><img src="../assets/pngwing.png.png" style="background-color: transparent;" alt="" width="40" height="34"
            class="d-inline-block align-text-top">All Star Insurance <span style="font-size:20px;">Here we're for all your insurance needs.</span></h3>
        
      </i>
    </div>
<div class="container w-75 pt-1">
    <div class="row pt-3  pb-5">
        <div class="col-md-6 border bg" style="padding: 20px;border-radius: 5%;">
            <div class="mb-3">
                <label for="id1" class="form-label font"><h5>Select Maker</h5></label>
                <input type="text" class="form-control w-75 brandinput" id="id1" placeholder="Search brand" [(ngModel)]="insuranceData.brandName">
              </div>
              <div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr >
                        <th scope="col">Brand Logo</th>
                        <th scope="col">Brand Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let items of carList" (click)="selectBrand(items.brandName)">
                        <td><a><img [src]="items.logoPath" width="70" height="60" ></a></td>
                        <td><a><b>{{items.brandName}}</b></a></td>
                    </tr>
                </tbody>
                </table>
              </div>
 
        </div>
        
         <div class="col-md-6 border bg"  style="padding: 20px;border-radius: 5%;background-color: white;">
            <app-insurancedetails [insuranceData]="insuranceData"></app-insurancedetails>
         </div>
    </div>

</div>